* {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}
body {
	background-image: url(https://4kwallpapers.com/images/walls/thumbs_3t/8324.png);
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
	text-align: center;
	height: 100vh;
}
.image-container {
	position: relative;
	width: 200px;
	height: 200px;
	transform-style: preserve-3d;
	transform: perspective(1000px) rotateX(0deg) ;
    transition: transform 1.5s;
	& span {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		transform: rotateX(calc(var(--a) * 45deg)) translateZ(400px);
        & img{
            position: absolute;
            border-radius: 10px;
            left:0;
            top:0;
            width: 100%;
            transition: .5s;
            &:hover{
                transform: scale(2.5);
            }
        }
	}
}

.btn-container{
    position: relative;
    width: 80%;
    & .btn {
        position: absolute;
        bottom:-80px;
        background-color:gold;
        color:black;
        border:1px solid black;
        box-shadow:0 4px 8px rgba(0, 0, 0, 0.495) ;
        font-weight: bold;
        padding:10px 20px;
        border-radius: 5px;
        cursor: pointer;
        text-transform: capitalize;
        transition: 0.7s;
        &:hover{
            filter: brightness(1.5);
            transform: translateX(-2px);
        }
    }
}
#prev {
    left: 30%;
}
#next{
    right: 30%;
}
.maker{
    position: absolute;
    bottom: 5px;
    color: rgb(189, 175, 175);
    font-size: 20px;
    font-family: cursive;
    text-transform:capitalize;
    font-weight: bold;
    & bre{
        font-size: 15px;
    }

}